@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes marquee-vertical-reverse {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-marquee {
  animation: marquee-horizontal 20s linear infinite;
}

.animate-marquee-horizontal {
  animation: marquee-horizontal 20s linear infinite;
}

.animate-marquee-vertical {
  animation: marquee-vertical 25s linear infinite;
}

.animate-marquee-vertical-reverse {
  animation: marquee-vertical-reverse 25s linear infinite;
}
